* {
    box-sizing: border-box; }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

* html .clearfix {
    zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1; }

/* IE7 */
body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 0; }

h2, h1 {
    text-align: center;
}

strong {
    font-weight: 500; }

.basic-container {
    margin: 100px;
    margin-top: 50px;
}

.email-container {
    height: 70px;
    margin: 100px;
    margin-top: 50px;
}

.react-tag-complete {
    margin-bottom: 10px;
}

input[type=text] {
    background: green;
}